@model _eDnevnik.Web.ViewModel.CasPrikazOdjeljenjeVM
@{
    ViewData["Title"] = "PrikazCasOdjeljenje";
}

<table>
    <thead>
        <tr>
            <th>Broj casa</th>
            <th>Nastavna jedinica</th>
            <th>Datum održavanja</th>
            <th>Odjeljenje</th>
            <th>Profesor</th>
        </tr>
    </thead>
</table>

