@model _eDnevnik.Web.ViewModel.LoginVM
@{
    ViewData["Title"] = "Index";
    string error_poruka = (string)TempData["error_poruka"];
    Layout = "_LayoutAnonim";//Drugi layout
}


<form asp-action="Logins" class="login100-form validate-form">
    <span class="login100-form-logo">
        <i class="zmdi zmdi-landscape"></i>
    </span>

    <span class="login100-form-title p-b-34 p-t-27">
        Prijavi se
    </span>

    <div class="wrap-input100 validate-input" data-validate="Unesite korisničko ime">
        <input asp-for="Username" class="input100" placeholder="Korisničko ime">
        <span class="focus-input100" data-placeholder="&#xf207;"></span>
    </div>

    <div class="wrap-input100 validate-input" data-validate="Unesite šifru">
        <input asp-for="Password" class="input100" placeholder="Šifra">
        <span class="focus-input100" data-placeholder="&#xf191;"></span>
    </div>

    <div class="contact100-form-checkbox">
        <input asp-for="ZapamtiPassword" class="input-checkbox100" id="ckb1">
        <label class="label-checkbox100" for="ckb1">
            Zapamti me
        </label>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Prijava
        </button>
    </div>
</form>
<br />


@if (error_poruka != null)
{

    <br />
    <div class="alert alert-light">@error_poruka</div>
}

